@import url("./theme.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    font-family: "Open Sans", sans-serif;
}

/* BUTTONS */
.btn-nav{
  text-decoration: none;
  color: white;
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 10%;
}

.btn-nav:hover{
    background-color: white;
    color: var(--green);
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--green);
}

.btn-read-structure{
    position: relative;
    top: 0.5rem;
    font-size: 1.5rem;
    background: var(--dark-green);
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1vh;
}

.btn-read-structure:hover{
    font-size: 1.51rem;
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--green);
}



/* NAV ELEMENT */
.nav a:first-child{
    margin: 0 1rem 0 1rem;
}

.nav a{
    border-right: 2px solid white;
    border-left: 2px solid white;
}

/* FLEX BOX CLASSES */

.display-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}



